<a href="#" class="p-2 rounded-md bg-slate-200 md:hidden">
	{{ ux_icon('mdi:search', { 'class': 'h-6 w-6 text-neutral-600 hover:text-violet-600' }) }}
</a>
<a href="{{ path('app_note_all') }}" data-tooltip="All notes" class="p-2 rounded-md bg-slate-200">
	{{ ux_icon('mdi:notes', { 'class': 'h-6 w-6 text-neutral-600 hover:text-violet-600' }) }}
</a>
<a href="{{ path('app_note_new')}}" data-tooltip="New note" class="p-2 rounded-md bg-slate-200">
	{{ ux_icon('mdi:plus-box-outline', { 'class': 'h-6 w-6 text-neutral-600 hover:text-violet-600' }) }}
</a>
<a href="{{ path('app_profile_edit')}}" data-tooltip="Edit profile" class="p-2 rounded-md bg-slate-200">
	{{ ux_icon('mdi:cog-outline', { 'class': 'h-6 w-6 text-neutral-600 hover:text-violet-600' }) }}
</a>
<a href="{{ path('app_profile', { 'username': app.user.username })}}" class="transition-transform duration-200 ease-in-out rounded-full shadow-md hover:scale-95">
	<img src="{{ '/images/uploads/' ~ app.user.image ?? 'default.png' }}" alt="logo" width="48" class="rounded-full">
</a>
<a href="{{ path('app_logout') }}" data-tooltip="Logout" class="p-2 rounded-md bg-slate-200">
	{{ ux_icon('mdi:logout', { 'class': 'h-6 w-6 text-neutral-600 hover:text-violet-600' }) }}
</a>
