<nav class="flex items-center justify-between p-2 bg-slate-50">
	<a href="{{ path('app_home') }}" class="flex items-center gap-1">
		<img src="{{ asset('/img/logo_dark.svg') }}" alt="logo" class="transition-transform duration-200 ease-in-out rounded-full hover:scale-95">
		<p>CodeXpress</p>
	</a>
	<div class="flex items-center justify-between gap-4">
		{{ include('components/partials/search.html.twig') }}
        <div class="flex items-center justify-between gap-4">
		{% if app.user %}
		{# User is logged in #}
			{{ include('components/partials/navbar-login.html.twig') }}
			{% else %}
		{# User is not logged in #}
            {{ include('components/partials/navbar-logout.html.twig') }}
			{% endif %}
        </div>
	</div>
</nav>
